// 主要颜色

@primary: #409eff;
@success: #67c23a;
@warn: #e6a23c;
@error: #f56c6c;
@info: #909399;

// 文字颜色

@textTitle: #303133;
@textPrimary: #606266;
@textGrey: #909399;
@textDisabled: #c0c4cc;

// 功能颜色

@border: #dcdfe6;
@background: #eeeeee;

// 基础颜色

@white: #fff;
@black: #000;
@grey: #bfbfbf;

// 色板

@red: #f5222d;
@volcano: #fa541c;
@orange: #fa8c16;
@gold: #faad14;
@yellow: #fadb14;
@lime: #a0d911;
@green: #52c41a;
@cyan: #13c2c2;
@blue: #1890ff;
@geekBlue: #2f54eb;
@purple: #722ed1;
@magenta: #eb2f96;

.color(@color:@primary) {
  color: @color;
}
.background(@color:@background) {
  background: @color;
}
.hoverColor(@color:@primary) {
  &:hover {
    color: @color;
  }
}
.hoverBackground(@color:@primary) {
  &:hover {
    background: @color;
  }
}
