@fontSizeSmall: 12px;
@fontSizePrimary: 14px;
@fontSizeLarge: 18px;

@fontSize: @fontSizePrimary;

.size(@size:@fontSize) {
  font-size: @size;
}
.sizeSmall {
  font-size: @fontSizeSmall;
}
.sizeLarge {
  font-size: @fontSizeLarge;
}
.normal {
  font-weight: normal;
}
.bold {
  font-weight: bold;
}
.bolder {
  font-weight: 900;
}
