.inline {
  display: inline-block;
}
.block {
  display: block;
}
.hide {
  display: none;
}

.oh {
  overflow: hidden;
}
.pointer {
  cursor: pointer;
}

.debug {
  // 调试用-高亮样式
  background: @volcano;
  border: 1px solid @red;
  color: @white;
}

.defaultImage(@size:300px,@size2:@size/1.5) {
  @img :"https://dummyimage.com/300x200/&text=img";
  width: @size;
  height: @size2;
  background-image: url(@img);
  background-position: center;
  background-size: cover;
}
